@model ECourse.Models.Department

@{
    ViewBag.Title = "Detalles Departamento";
}

<h2>Detalles</h2>


<h4>Departamentos</h4>

<hr />
<div class="row">
    <div class="col-md-6">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Administrator.FullName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Administrator.FullName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreateDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreateDate)
            </dd>

        </dl>
    </div>
    <div class="col-md-6">
        @if (!string.IsNullOrEmpty(Model.Administrator.Photo))
        {
            <img src="@Url.Content(Model.Administrator.Photo)" alt="Image" style="width:150px;height:150px;max-width: 100%; height: auto;" />
        }
    </div>
</div>

<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.DepartmentId }, new { @class = "btn btn-warning" })
    @Html.ActionLink("Regresar", "Index", new { }, new { @class = "btn btn-success" })
</p>
<h3>Cursos</h3>

@if (Model.Courses.Count > 0)
{
    <table class="table">
        <tr>
            <th>
                Titulo
            </th>
            <th>
                Descripcion
            </th>
            <th>
                Modalidad
            </th>
            <th>
                Horas
            </th>
            <th>
                Fecha de Creacion
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Courses)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Modality)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hours)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
            </tr>
        }

    </table>
}
else
{
    <hr />
    <h5 class="text-center">No hay Cursos disponibles para este <strong>Departamento</strong></h5>
}
