@model ECourse.Models.User

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>
<h4>Usuario</h4>
<hr />

<div class="row">
    <div class="col col-md-6">
        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.UserName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UserName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FirstName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LastName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Phone)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Phone)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Address)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Address)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.IsStudent)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IsStudent)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.IsTeacher)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IsTeacher)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CreateUser)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CreateUser)
                </dd>

            </dl>
        </div>
    </div>
    <div class="col col-md-6">
        <br />
        @if (!string.IsNullOrEmpty(Model.Photo))
        {
            <img src="@Url.Content(Model.Photo)" alt="Image" style="width:150px;height:150px;max-width: 100%; height: auto;" />
        }
    </div>
</div>

<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.UserId }, new { @class = "btn btn-warning" })
    @Html.ActionLink("Regresar", "Index", new { }, new { @class = "btn btn-success" })
</p>